@page "/image-viewer"

<PageTitle>Image Viewer</PageTitle>

<h3>Image Viewer</h3>

<!-- Only Windows -->
<!-- <img src="images/accelerate.svg" /> -->

<!-- Windows, Android, Web -->
<img src="_content/MauiWithWeb.Shared/images/accelerate.svg" width="100%" />

@code {

}
